<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xl.xyl2"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:excludeFromRecents="true"
        android:launchMode="singleInstance"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <meta-data android:name="com.baidu.lbsapi.API_KEY" android:value="${baidu_api_Key}" />
        <meta-data android:name="com.xl.KEY_IP" android:value="${xl_key_ip}" />
        <meta-data android:name="com.xl.KEY_PORT" android:value="${xl_key_port}" />
        <meta-data android:name="com.xl.KEY_LOT_CODE" android:value="${xl_key_lotcode}" />
        <activity android:name="com.xl.xyl2.mvp.view.activity.XLMain"  android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name="com.xl.xyl2.mvp.view.activity.ActivityShow" android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name="com.xl.xyl2.mvp.view.activity.ActivitySetting"  android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name="com.xl.xyl2.mvp.view.activity.ActivityBind" android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name="com.xl.xyl2.mvp.view.activity.ActivityAllApps"  android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name="com.xl.xyl2.mvp.view.activity.ActivityRestart"  android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <service android:name="com.xl.xyl2.service.MainService" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
    </application>

</manifest>